/*
Автор: Пучкин В.
puchkin@prognoz.ru
*/

/* 1. Сброс margin и padding
=========================================================== */
* { margin: 0; padding: 0; outline: 0; }

/* 2. Фон страницы и шрифт основного текста
=========================================================== */
html { min-width: 1252px; height: 100%; background-color: #fff; font: normal normal 12px Arial; color: #333B3E; }
	body { height: 100%; }

/* 3. Сброс тегов html5
=========================================================== */
section, header, footer, content, hgroup, nav, aside, article { display: block; }
mark { display: inline; }

/* 4. Стили основных элементов
=========================================================== */
h1:first-child, h2:first-child { margin-top: 0px; }

a { color: #66757C; }
a:hover { color: #5EA4CB; }

	a > img { border: 0; }

table { border-spacing: 0; border-collapse: collapse; }
	table td { vertical-align: top; }

ul { list-style-type: none; }


input[type="text"], input[type="password"], textarea { box-sizing: border-box; -moz-box-sizing: border-box; width: 100%; height: 26px; padding-left: 6px; background-color: #fff; border: 1px solid #CDCDCD; color: #808080; font-family: Tahoma; font-size: 13px; color: #808080; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { border-color: #5E9E5E; box-shadow: 0 1px 12px #5E9E5E; }

textarea { height: 110px; padding: 10px; overflow: auto; }


/* 5. Шрифты
=========================================================== */
@font-face {font-family: 'pt_sans_narrow';
	src: url('../../fonts/cabinet/ptn57f_w.eot');
	src: local('PT Sans Narrow'), url('../../fonts/cabinet/PTN57F_W.woff') format('woff'),url('../../fonts/cabinet/PTN57F_W.ttf') format('truetype'), url('../../fonts/cabinet/PTN57F_W.svg#PTSans-Narrow') format('svg');
}
@font-face {
    font-family: 'opensans_cond_bold';
    src: url('../../fonts/cabinet/opensans-condbold-webfont.eot');
    src: url('../../fonts/cabinet/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabinet/opensans-condbold-webfont.woff') format('woff'),
         url('../../fonts/cabinet/opensans-condbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* 6. Стили частоиспользуемых элементов
=========================================================== */
.dashed { text-decoration: none; border-bottom: 1px dashed #66757C; }
*+html .dashed { line-height: 17px; }
.dashed:hover { border-bottom: 1px dashed #5EA4CB; }

	/* Попапы */
	.popups_bg { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: url(../../img/cabinet/popups_bg.png); z-index: 254; }
	.popup { display: none; position: fixed; top: 49%; left: 50%; width: 894px; margin-left: -447px; margin-top: -400px; background-color: #EEF8EF; border: 2px solid #77AD77; box-shadow: 0 2px 14px rgba(0,0,0,0.5); z-index: 255; }
		.popup > h1 { height: 58px; box-sizing: border-box; -moz-box-sizing: border-box; padding: 18px 0 0 20px; font-family: 'pt_sans_narrow'; font-size: 18px; text-transform: uppercase; font-weight: normal; color: #426D34; background-color: #fff; }
		.popup_content { padding: 15px 20px; }
			.PC_line { position: relative; height: 24px; margin-bottom: 10px; font-size: 0; }
				.PC_line > * { position: absolute; top: 0; height: 24px; }
					.PC_line > * > label { display: inline-block; vertical-align: middle; font-family: 'pt_sans_narrow'; color: #999; font-size: 16px; }
					.PCL_control { display: inline-block; vertical-align: middle; height: 24px; }
						.PCL_control > select { width: 100%; }
						.PCL_control .chzn-container { width: 278px !important; }
				.PCL_left { width: 375px; left: 0; }
					.PCL_left > label { width: 90px; }
					.PCL_left > .PCL_control { width: 278px; }
				.PCL_right { width: 453px; right: 0; }
					.PCL_right > label { width: 170px; }
					.PCL_right > .PCL_control { width: 278px; }
			.hr { height: 0; margin: 20px -20px 10px -20px; border-bottom: 1px dashed #426E34; }
			.textarea_block { margin-bottom: 20px; }
				.textarea_block > label { display: block; margin-bottom: 5px; font-family: 'pt_sans_narrow'; color: #999; font-size: 16px; }
		.popup_footer { padding: 0 20px 20px 20px; margin-top: -15px; text-align: right; }
	
	/* Кнопки */
        button.btn{
            border:none;
        }
        a.btn {
            text-decoration:none;
        }
        a.btn:hover {
            color:#ffffff;
            text-decoration:none;
        }
	.btn { display: inline-block; vertical-align: middle; box-sizing: border-box; -moz-box-sizing: border-box; height: 24px; padding: 3px 15px 0 15px; color: #fff; font-size: 14px; font-family: 'pt_sans_narrow'; text-transform: uppercase; background: rgb(99,180,73); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYjQ0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTlhNTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(99,180,73,1) 0%, rgba(37,154,87,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,180,73,1)), color-stop(100%,rgba(37,154,87,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(99,180,73,1) 0%,rgba(37,154,87,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(99,180,73,1) 0%,rgba(37,154,87,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(99,180,73,1) 0%,rgba(37,154,87,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(99,180,73,1) 0%,rgba(37,154,87,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b449', endColorstr='#259a57',GradientType=0 ); /* IE6-8 */ }
	.btn:hover { cursor: pointer; background: rgb(99,180,73); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYjQ0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2EzNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(99,180,73,1) 0%, rgba(83,163,97,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,180,73,1)), color-stop(100%,rgba(83,163,97,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(99,180,73,1) 0%,rgba(83,163,97,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(99,180,73,1) 0%,rgba(83,163,97,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(99,180,73,1) 0%,rgba(83,163,97,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(99,180,73,1) 0%,rgba(83,163,97,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b449', endColorstr='#53a361',GradientType=0 ); /* IE6-8 */ }
	.btn:active { background: rgb(83,163,97); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzYTM2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2M2I0NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(83,163,97,1) 0%, rgba(99,180,73,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,163,97,1)), color-stop(100%,rgba(99,180,73,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(83,163,97,1) 0%,rgba(99,180,73,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(83,163,97,1) 0%,rgba(99,180,73,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(83,163,97,1) 0%,rgba(99,180,73,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(83,163,97,1) 0%,rgba(99,180,73,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a361', endColorstr='#63b449',GradientType=0 ); /* IE6-8 */ }
	.btn.big { width: 163px; height: 38px; padding-top: 7px; margin-left: 14px; text-align: center; font-size: 18px; }
	.btn.gray { background: rgb(160,160,160); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwYTBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NTg1ODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(160,160,160,1) 0%, rgba(133,133,133,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,1)), color-stop(100%,rgba(133,133,133,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(133,133,133,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(133,133,133,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(133,133,133,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(160,160,160,1) 0%,rgba(133,133,133,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#858585',GradientType=0 ); /* IE6-8 */ }
	.btn.gray:hover { background: rgb(160,160,160); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwYTBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Njk2OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(160,160,160,1) 0%, rgba(150,150,150,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,1)), color-stop(100%,rgba(150,150,150,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(150,150,150,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(150,150,150,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(150,150,150,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(160,160,160,1) 0%,rgba(150,150,150,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#969696',GradientType=0 ); /* IE6-8 */ }
	.btn.gray:active { background: rgb(150,150,150); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2OTY5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGEwYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-8 */
		background: -moz-linear-gradient(top,  rgba(150,150,150,1) 0%, rgba(160,160,160,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,150,150,1)), color-stop(100%,rgba(160,160,160,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(160,160,160,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(160,160,160,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(160,160,160,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(150,150,150,1) 0%,rgba(160,160,160,1) 100%); /* W3C */
    }
	/* Чекбоксы */
	.checkbox_container { z-index:100; display: inline-block; position: relative; margin-bottom: 9px; font-size: 0; }
		.checkbox_container input[type="checkbox"], .checkbox_container label { position: relative; display: inline-block; vertical-align: middle; cursor: pointer; }
		.checkbox_container input[type="checkbox"] { z-index:110; width: 16px; height: 16px; padding: 0; border: 0; }
		.checkbox_container label { margin-left: 10px; font-family: Tahoma; font-size: 13px; color: #808080; }
		.fake_checkbox {z-index:100; position: absolute; width: 16px; height: 16px; background: url(../../img/cabinet/checkbox.png) 0 -16px no-repeat; }
		.fake_checkbox.checked { background-position: 0 0; }
	
                .btn.btn-warning{
                    background: -moz-linear-gradient(top,  rgba(255, 0, 0, 1) 0%, rgba(206, 4, 4, 1) 100%); /* FF3.6+ */
                    background: -webkit-linear-gradient(top,  rgba(255, 0, 0, 1) 0%,rgba(206, 4, 4, 1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  rgba(255, 0, 0, 1) 0%,rgba(206, 4, 4, 1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  rgba(255, 0, 0, 1) 0%,rgba(206, 4, 4, 1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(255, 0, 0, 1) 0%,rgba(206, 4, 4, 1) 100%)
                }
                .btn-sm{
                    font-size:12px;
                }

/* 7. Частоиспользуемые классы
=========================================================== */
.FL { float: left; }
.FR { float: right; }
.clear { clear: both; }


/* 8. Остальные стили
=========================================================== */
.base { height: 100%; }

	/* Шапка
	=========================================================== */
	.header { position: relative; height: 100px; background: url(../../img/cabinet/header_bg.png) 0 0 repeat-x; z-index: 10; }
		.logo { position: absolute; top: 22px; left: 37px; width: 245px; height: 39px; padding-top: 1px; padding-left: 55px; font-family: 'opensans_cond_bold'; font-size: 25px; color: #416E41; text-transform: uppercase; background: url(../../img/cabinet/logo.png) 0 0 no-repeat; }
		.new_messages { position: absolute; top: 30px; left: 361px; }
		.new_messages:hover { cursor: pointer; }
			.NM_text { font-family: 'pt_sans_narrow'; font-size: 17px; color: #5E9E5E; border-bottom: 1px dashed #9D9E9D; }
			.new_messages:hover .NM_text { color: #416E41; border-bottom-color: #416E41; }
			.NM_new { display: inline-block; position: relative; top: -5px; width: 19px; height: 19px; margin-left: 3px; border-radius: 100%; color: #fff; background-color: #5E9E5E; text-align: center; line-height: 20px; font-family: 'pt_sans_narrow'; font-size: 15px; }
			.new_messages:hover .NM_new { background-color: #416E41; }
		.header_city { position: absolute; top: 24px; right: 25px; width: 344px; height: 57px; background: url(../../img/cabinet/header_city.png) 0 0 no-repeat; }
		.lk_menu { position: absolute; top: 30px; left: 361px; z-index: 5; }
			.lk_menu li { float:left; margin-left:30px; }
			.lk_menu li:first-child { margin-left:0; }
				.lk_menu li a { text-decoration:none; }
					.NM_text { font-family: 'pt_sans_narrow'; font-size: 17px; color: #1a1a1a; border-bottom: 1px dashed #9D9E9D; }
						.lk_menu li:hover .NM_text { color: #416E41; border-bottom-color: #416E41; }
						.lk_menu li.active .NM_text { color:#5e9e5e; }
					.NM_new { display: inline-block; position: relative; top: -5px; width: 19px; height: 19px; margin-left: 3px; border-radius: 100%; color: #fff; background-color: #5E9E5E; text-align: center; line-height: 20px; font-family: 'pt_sans_narrow'; font-size: 15px; }
						.lk_menu li:hover .NM_new { background-color: #416E41; }
		.logout { position: absolute; top: 5px; right: 38px; text-decoration: none; }

	/* Контент
	=========================================================== */
	.content { display: table; position: relative; width: 100%; min-height: 100%; margin-top: -100px; z-index: 5; }
		.content > * { display: table-cell; vertical-align: top; box-sizing: border-box; -moz-box-sizing: border-box; }
		script{display:none !important}
		.sidebar { width: 325px; background-color: #DCF1DF; border-right: 5px solid #BCDCBF; }
			.sidebar_inner { position: relative; min-height: 980px; padding: 115px 42px 0 37px; margin-right: -5px; background: url(../../img/cabinet/sidebar_gradient.png) 0 0 repeat-x; }
				.sidebar_inner label { display: block; font-family: 'pt_sans_narrow'; color: #999; font-size: 16px; margin-bottom: 5px; }
				.sidebar_inner select { width: 100%; }
		.content_right {  }
			.content_inner { padding: 115px 37px 0 37px; }
				.content_inner > h1 { margin-bottom: 20px; font-family: 'pt_sans_narrow'; font-size: 28px; color: #1A1A1A; text-transform: uppercase; font-weight: normal; }
				
				
				
/* Стили отдельных страниц
=========================================================== */

/* Обращения граждан */
.paginator { position: relative; height: 42px; margin: 20px 0; border: 2px solid #9EC59E; }
	.paginator > * { position: absolute; height: 24px; top: 8px; font-family: 'pt_sans_narrow'; font-size: 16px; }
	.pag_left { left: 14px; text-align: left; color: #999; }
	.pag_center { width: 500px; left: 50%; margin-left: -250px; text-align: center; font-size: 0; }
		.pag_center > span { display: inline-block; vertical-align: middle; height: 25px; padding: 1px 7px 0 7px; font-size: 16px; }
		.pag_center > span:hover { background-color: #EAF3EA; cursor: pointer; }
		.pag_center > span.active, div.pag_right > a.active { background-color: #5E9E5E; }
			.pag_center > span > span { color: #666; border-bottom: 1px dashed #666; }
			.pag_center > span.active > span, div.pag_right > a.active > span { color: #fff; border-bottom-color: transparent; }
	.pag_right { right: 14px ; text-align: right; font-size: 0; }
		.pag_right > a, .pag_right > span { display: inline-block; vertical-align: middle; font-size: 16px; height: 25px; padding: 1px 10px 0 10px; text-decoration: none; color: #5E9E5E; }
		.pag_right > a:hover { background-color: #EAF3EA; }
			.pag_right > a > span { color: #5E9E5E; border-bottom: 1px solid #C0C1C1; }
		.pag_right > span { color: #737373; }
		.pag_right .pager li { display: inline-block; vertical-align: middle; font-size: 16px; height: 25px; padding: 1px 10px 0 10px; text-decoration: none; color: #5E9E5E; }
		.pag_right .pager li a { color: #5E9E5E; }
		.pag_right .pager li.hidden { display: none; }
		.pag_right .pager li.selected a { text-decoration: none; color: #737373; }
		.pag_right .pager li.previous a, .pag_right .pager li.next a { text-decoration: none; }
		.pag_right .pager .first, .pag_right .pager .last { display: none; }
		
.toolbar { height: 24px; margin: 30px 0 15px 0; font-size: 0; }
.toolbar.right { text-align: right; }
	.toolbar > * { display: inline-block; vertical-align: middle; height: 24px; }
	.toolbar_item { margin-left: 20px; text-align: left; }
		.toolbar_item > * { display: inline-block; vertical-align: middle; }
		.toolbar_item > label { margin-right: 7px; font-family: 'pt_sans_narrow'; font-size: 16px; color: #959595; }
		.TI_control { width: 187px; height: 24px; }
			.TI_control > select { width: 100%; height: 24px; }
			
.data_table { width: 100%; margin: 15px 0; border-bottom: 2px solid #9EC59E; }
	
	.to_center { text-align: center; }
	.to_right { text-align: right; cursor: pointer; }
	.accent { font-weight: bold; color: #4D4D4D !important; }
	
	.data_table th { height: 31px; padding: 5px 10px 0 10px; vertical-align: top; background-color: #5E9E5E; border-left: 1px solid #fff; font-weight: normal; color: #fff; text-transform: uppercase; font-size: 15px; font-family: 'pt_sans_narrow'; }
	.data_table th a { color: #fff; text-transform: uppercase; text-decoration:none; position:relative;}
	.data_table th a.asc:after { content: ""; height: 15px; width: 15px; display: block; position: absolute; top: 2px; right: -20px; background: url(../../img/cabinet/hide_arrows.png); background-size: 30px; }
	.data_table th a.desc:after { content: ""; height: 15px; width: 15px; display: block; position: absolute; top: 2px; right: -20px; background: url(../../img/cabinet/hide_arrows.png); background-position: 15px 0px; background-size: 30px; }
	.data_table th:first-child { border-left: 0; }
		.data_table th .arrow { height: 4px; margin-top: -1px; padding: 2px 0; }
		.data_table th .arrow:hover { cursor: pointer; background-color: #72AA72; }
			.data_table th .arrow:before { display: block; content: ' '; width: 0; height: 0; margin: 0 auto; border: 4px solid transparent; }
		.data_table th .asc:before { border-top-width: 0; border-bottom-color: #fff; }
		.data_table th .desc:before { border-bottom-width: 0; border-top-color: #fff; }
	.data_table th#treatment_sort_date, .data_table th#treatment_sort_id, .data_table th#treatment_sort_theme { cursor: pointer; }
	.data_table td { height: 37px; padding: 0 10px; vertical-align: middle; font-family: Tahoma; color: #737373; font-size: 12px; }
	.data_table tr:nth-child(odd) { background-color: #F6FAF7; }
	.data_table tr:hover { cursor: pointer; background-color: #E2EFE3; }
	.data_table th:hover { cursor: default; }
		.theme_item { display: inline-block; vertical-align: middle; height: 26px; font-size: 0; }
			.theme_item > * { display: inline-block; vertical-align: middle; }
			.TI_icon { width: 26px; height: 26px; margin-right: 7px; background: url(../../img/cabinet/themes.png) 0 0 no-repeat; }
				.zdrav .TI_icon { background-position: 0 0; }
				.culture .TI_icon { background-position: 0 -26px; }
			.TI_text { font-size: 12px; }
				.zdrav .TI_text { color: #60991E; }
				.culture .TI_text { color: #EC930D; }
		.public { width: 18px; height: 18px; background: url(../../img/cabinet/public.png) 0 0 no-repeat; }
			.public.plus { background-position: 0 0; }
			.public.cross { background-position: 0 -18px; }
			
	.data_table.first_checkbox th:first-child, .data_table.first_checkbox td:first-child { padding-left: 0; padding-right: 0; }
	
	
/* Авторизация */
.auth { position: absolute; top: 0; right: 0; bottom: 0; left: 0; min-width: 1252px; background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGYyZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,242,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,242,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,242,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,242,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,242,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,242,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ddf2e0',GradientType=0 ); /* IE6-8 */ }
	
	.auth_logo { position: absolute; top: 45px; left: 50%; width: 700px; height: 91px; margin-left: -350px; background: url(../../img/cabinet/logo_big.png) 0 0 no-repeat; }
	
	.auth_form { position: absolute; width: 330px; height: 244px; box-sizing: border-box; -moz-box-sizing: border-box; padding: 22px 33px 0 36px; top: 49%; left: 50%; margin: -122px 0 0 -165px; box-shadow: 0 2px 15px rgba(0,0,0,0.3); background: rgb(255,255,255); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,233,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,233,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,233,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,233,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,233,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,233,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebe9',GradientType=0 ); /* IE6-8 */ }
		.auth_form > h1 { margin-bottom: 20px; font-family: 'pt_sans_narrow'; font-size: 28px; color: #1A1A1A; font-weight: normal; text-transform: uppercase; text-align: center; }
		.auth_form > input[type="text"], .auth_form > input[type="password"] { height: 40px; margin-bottom: 7px; }
		.auth_form > .btn { display: block; width: auto; margin: 0; }
	
	.auth_footer { position: absolute; box-sizing: border-box; -moz-box-sizing: border-box; bottom: 0; left: 0; right: 0; height: 65px; background-color: #569156; padding: 23px 0 0 50px; font-family: 'pt_sans_narrow'; font-size: 17px; text-transform: uppercase; color: #fff; }
		.auth_footer:after { display: block; position: absolute; content: ' '; top: -81px; right: 79px; width: 514px; height: 81px; background: url(../../img/cabinet/footer_city.png) 0 0 no-repeat; }

/* Рейтинг предложений */
.gos_prog_item { display: block; height: 20px; margin-bottom: -9px; font-size: 0; text-decoration: none; font-family: 'pt_sans_narrow'; position:relative; padding:15px 0 15px 62px; }
	.gos_prog_item > * { display: inline-block; vertical-align: middle; }
	.GPI_icon { width: 50px; height: 50px; background: url(../../img/cabinet/icons/gos_prog_icons.png) 0 0 no-repeat; position:absolute; left:0; top:0; }
		.GPI_icon.icon_1 { background-position: 0 0; }
		.GPI_icon.icon_2 { background-position: 0 -50px; }
		.GPI_icon.icon_3 { background-position: 0 -100px; }
		.GPI_icon.icon_4 { background-position: 0 -150px; }
		.GPI_icon.icon_5 { background-position: 0 -200px; }
		.GPI_icon.icon_6 { background-position: 0 -250px; }
		.GPI_icon.icon_7 { background-position: 0 -300px; }
		.GPI_icon.icon_8 { background-position: 0 -350px; }
		.GPI_icon.icon_9 { background-position: 0 -400px; }
		.GPI_icon.icon_10 { background-position: 0 -450px; }
		.GPI_icon.icon_11 { background-position: 0 -500px; }
		.GPI_icon.icon_12 { background-position: 0 -550px; }
		.GPI_icon.icon_13 { background-position: 0 -600px; }
		.GPI_icon.icon_14 { background-position: 0 -650px; }
		.GPI_icon.icon_15 { background-position: 0 -700px; }
		.GPI_icon.icon_16 { background-position: 0 -750px; }
		.GPI_icon.icon_17 { background-position: 0 -800px; }
		.GPI_icon.icon_18 { background-position: 0 -850px; }
		.GPI_icon.icon_19 { background-position: 0 -900px; }
		.GPI_icon.icon_20 { background-position: 0 -950px; }
		.GPI_icon.icon_21 { background-position: 0 -1000px; }
	.amount { float:right; line-height:20px; color:#4d4d4d; font-size:15px; background:#fff; }
		.amount span { color:#999; }
	.GPI_text { font-size: 15px; color: #4D4D4D; border-bottom: 1px dashed #CCC; display:block; }
		.GPI_text span { border-bottom:1px solid #CCC; }
	.gos_prog_item:hover .GPI_text { color: #5D9A5D; border-bottom-color: #5D9A5D; }
		.gos_prog_item:hover .GPI_text span { border-bottom-color:#5D9A5D; }
	.GPI_doc { width: 18px; height: 21px; margin-left: 11px; background: url(../../img/cabinet/icons/word.png) 0 0 no-repeat; }

/* Proposals list*/
span.proposal_published{
	background: url(../../img/cabinet/public.png);
	height: 18px;
	width: 18px;
	display:block;
	margin: 0px auto;
}
span.proposal_unpublished{
	background: url(../../img/cabinet/public.png);
	background-position: bottom;
	height: 18px;
	width: 18px;
	display:block;
	margin: 0px auto;
}
span.show_proposal{
	background: url(../../img/cabinet/icon_loop.png);
	background-position: bottom;
	height: 18px;
	width: 18px;
	display:block;
	margin: 0px auto;
}

/* Proposal popup */
.popup.calc { width:1000px; margin-left:-501px; height: 80%; overflow: auto;}	
	.totals { text-align:center; padding-top:22px; padding-bottom:27px; font-family: 'pt_sans_narrow'; width:960px; }
		.gray_grad {
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #ebebe9 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebe9)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebe9 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 0%,#ebebe9 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 0%,#ebebe9 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 0%,#ebebe9 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebe9',GradientType=0 ); /* IE6-9 */
		}
		.totals .slim { min-width:200px; height:100px; white-space:nowrap; display:inline-block; border:1px solid #FFF; padding:11px 15px; box-shadow:0 1px 8px rgba(0,0,0,0.3); margin:0 10px; vertical-align:top; }
		.totals .fat { min-width:376px; white-space:nowrap; display:inline-block; border:1px solid #FFF; box-shadow:0 1px 8px rgba(0,0,0,0.3); margin:0 10px; vertical-align:top; }
			.fat_top { height:100px; padding:11px 5px; }
				.totals .half { display:inline-block; min-width: 185px; padding:0 10px; box-sizing:border-box; -moz-box-sizing:border-box; }
			.fat_bottom { height:33px; border-top:1px solid #CCC; line-height:33px; color:#999; font-size:15px; text-shadow:0 1px 0 #fff; }
				.total_header { font-size:24px; }
				.total_number { display:inline-block; color:#808080; text-shadow:0 1px 0 #fff; margin-top:10px; }
				.total_number.green { color:#49a229; }
				.total_number.red { color:#F62121; }
				.total_number.orange { color:#db9d0e; }
				.total_number.up { background:url(../../img/icons/total_up.png) right 5px no-repeat; padding-right:32px; }
				.total_number.down { background:url(../../img/icons/total_down.png) right 5px no-repeat; padding-right:32px; }
				.total_number.down_r { background:url(../../img/icons/total_down_r.png) right 5px no-repeat; padding-right:32px; }
					.total_number big { display:block; font-weight:bold; font-size:30px; line-height:30px; }
					.total_number small { display:block; font-size:20px; line-height:20px; }
		.totals_description { color:#737373; font-size:16px; padding:40px 20px 35px; }
			.totals_description .green { color:#49a229; }
	.calc_table { font-family: 'pt_sans_narrow'; position:relative; background:#F8FCF9; padding:20px 0; }
	.calc_table:after { content:''; position:absolute; top:0; left:0; right:0; height:10px; background:url(../../img/calc_table_shadow.png) top center repeat-x; }
	.calc_table:before { content:''; position:absolute; bottom:0; left:0; right:0; height:10px; background:url(../../img/calc_table_shadow.png) bottom center repeat-x; }
		.calc_table .total_header { text-align:center; }
		.calc_table table { width:100%; font-size:16px; color:#1a1a1a; }
			.calc_table thead { font-size:15px; color:#999; text-align:center; }
				.calc_table thead td { padding:10px 17px; }
			.calc_table tbody { line-height:23px; }
				.calc_table tbody td,
				.calc_table tbody th { font-weight:normal; padding:7px 17px; }
				.calc_table tbody tr:nth-child(odd) td,
				.calc_table tbody tr:nth-child(odd) th { background:#F3F9F4; }
				.calc_table tbody th { text-align:right; font-weight:normal; color:#808080; width:50%; }
				.calc_table tbody td { text-align:center; width:25%; }
					.calc_table tbody td .up { padding-right:29px; display:inline-block; background:url(../../img/cabinet/icons/up.png) right center no-repeat; color:#d10e12; }
					.calc_table tbody td .down { padding-right:29px; display:inline-block; background:url(../../img/cabinet/icons/down.png) right center no-repeat; color:#49a229; }
	.popup.calc .popup_footer { padding-top:18px; }
.popup_content.proposals { padding: 15px 0; }

/* Publication form */
.edit_publication_form{
    background-color: #EEF8EF;
    padding: 15px 20px;
}

.edit_publication_form .row{
    margin-top: 20px;
}
.edit_publication_form .row label{
    color: #999;
    font-size: 16px;
    float: left;
}
.edit_publication_form .row .errorMessage{
    margin-left: 15px;
    float: left;
    color: red;
    line-height: 19px;
}
.edit_publication_form .row.error input{
    border: 1px solid #D80B0B;
}

.data_source_btn {
    border-radius: 4px;
    display: inline-block;
    margin: -5px 10px 0 0;
    padding: 3px;
    position: relative;
}

.data_source_btn .hint {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    bottom: 100%;
    box-shadow: 0 0 3px #BBBBBB;
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
}

.data_source_btn.active .hint {
    display: block;
}

.data_source_btn .hint h3 {
    font-size: 15px;
}

#nsnews-NSNEWS-form .row input[type="file"] {
    cursor: pointer;
    font-size: 200em;
    height: 35px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    overflow: hidden;
    margin-top: -8px;
    padding: 0;
    position: absolute;
    width: 90px;
    z-index: 5;
}

#news_image_wrapper {
    margin-top: 10px;
}

#news_image_wrapper a span {
    background-image: url("../../img/cabinet/close_2.png");
    display: inline-block;
    height: 10px;
    width: 10px;
}

#preview_news_image {
    vertical-align: baseline;
}

#preview_news_image img {
    vertical-align: top;
}

#nsnews-NSNEWS-form select { box-sizing: border-box; -moz-box-sizing: border-box; height: 26px; padding-left: 6px; background-color: #fff; border: 1px solid #CDCDCD; color: #808080; font-family: Tahoma; font-size: 14px; color: #808080; }
#nsnews-NSNEWS-form select option { padding-right: 16px; }

.panel-heading{
    font-size: 18px;
}
.panel-heading .close{
    font-size: 13px;
    border: none;
    float: right;
}
.form-container{
    position: relative;
}
.survey_form {
    margin-top: 20px;
    position: relative;
}
.survey_form .checkbox_container {
    z-index: 100;
    display: inline-block;
    position: relative;
    font-size: 0;
    line-height: 28px;
    margin-right: 5px;
    float:none;
    margin-bottom: 0px;
}
.survey_form .row label {
    float:none;
}
.survey_form .row span.errorMessage{
    float:none;
    margin-left: 0px; 
}

.multiple-form-row{
    margin-bottom: 5px;
    position:relative;
}

.multiple-form-remove{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.multiple-form-remove:after{
    content: "X";
    position:absolute;
    top:0;
    left:0;
}
.waiting{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-image: url('/css/cabinet/loading.GIF');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2000;
    display: block;
}
.waiting:before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('/css/cabinet/white_bg.png');
    z-index: 1000;
}
